<!--
	Please see https://wiki.gtaconnected.com/ServerConfiguration for a list of options and information
-->

<server>
	<!-- General Information -->
	<servername>Diego's Cops and Robbers (IV)</servername>
	<game>gta:iv</game>
	<gamemode>Diego's Cops and Robbers (RP/CNR)</gamemode>
	<serverbrowser>false</serverbrowser>
	<maxplayers>127</maxplayers>
	<minclientversion>1.5.0</minclientversion>
	<duplicatenames>false</duplicatenames>

	<!-- Networking -->
	<port>22000</port>
	<httpport>22000</httpport>
	<httpserver>true</httpserver>
	<streaminterval>1000</streaminterval>
	<syncinterval>30</syncinterval>
	<syncmethod>interval</syncmethod>
	<synclocalentities>true</synclocalentities>

	<!-- Element Streaming -->
	<streamindistance>200</streamindistance>
	<streamoutdistance>250</streamoutdistance>
	<pickupstreamindistance>30</pickupstreamindistance>
	<pickupstreamoutdistance>50</pickupstreamoutdistance>

	<!-- Logging -->
	<logpath>logs</logpath>
	<logtimestamp>[%d/%m/%Y - %X]</logtimestamp>

	<!-- GTA IV -->
	<!-- https://wiki.gtaconnected.com/Resources/GTAIV/GameModes -->
	<!-- https://wiki.gtaconnected.com/Resources/GTAIV/Episodes -->
	<iv_gamemode>-1</iv_gamemode>
	<iv_episode>-1</iv_episode>

	<!-- Modules -->
	<!-- https://wiki.gtaconnected.com/Modules -->
	<modules>
		<module src="modules/dll/mod_hashing_x64"/>
		<module src="modules/dll/mod_mariadb_x64"/>
		<module src="modules/dll/mod_geoip"/>
	</modules>

	<!-- Global CVars -->
	<!-- https://wiki.gtaconnected.com/CVars -->
	<cvar name="nametags" value="0" />
	<cvar name="gunshops" value="0" />
	<cvar name="uniquestuntjumps" value="0" />
	<cvar name="stuntjumps" value="0" />
	<cvar name="stauntontoiletcamera" value="1" />
	<cvar name="gates" value="1" />
	<cvar name="trains" value="1" />
	<cvar name="planes" value="1" />
	<cvar name="maximumwantedlevel" value="0" />
	<cvar name="defaultparkedcars" value="0" />
	<cvar name="ambulances" value="0" />
	<cvar name="traffic" value="1" />
	<cvar name="civilians" value="1" />
	<cvar name="defaultpickups" value="0" />
	<cvar name="singleplayer" value="0" />
	<cvar name="trainers" value="0" />
	<cvar name="bigmap" value="1" />
	<cvar name="iv_playerwalking" value="1" />
	<cvar name="iv_scenariopeds" value="0" />
	<cvar name="iv_randomcops" value="0" />

	<!-- Rules -->
	<!-- https://wiki.gtaconnected.com/ServerRules -->
	<rule name="Owner" value="realdiegopoptart" />
	<rule name="Website" value="https://cnr.diegocasillas.org" />

	<!-- Resources -->
	<!-- https://wiki.gtaconnected.com/Resources -->
	<resources>
		<resource src="dcnr" />
	</resources>
</server>